.locs-container {
    background-color: var(--bg3);
    padding: 0.5em;
    min-height: 100vh;

    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
}

.loc-list {
    list-style: none;
    padding: 0;
}

.loc-list li {
    background-color: var(--bg4);
    padding: 10px;
    margin-block-end: 0.1em;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.loc-list li h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    flex-wrap: wrap;
}

.loc-list li.active {
    color: var(--color3);
}

.loc-list li.active .muted {
    color: var(--color4);
}

.loc-btns {
    text-align: end;
}

.loc-btns button {
    aspect-ratio: 1/1;
    font-size: 1.2em;
}

.locs-container h3 {
    font-size: 2em;
}


.map {
    width: 100%;
    height: 100vh;
}

.form-search {
    display: block;
    text-align: end;
}


.loc-filter {
    background-color: var(--bg4);
    padding: 10px;
    border-radius: 10px;
}

.loc-filter input[type=text] {
    width: 100%;
    padding: 5px;
    margin-bottom: .5em;
}

.pie-state {
    display: grid;
    place-items: center;
}

.pie-state>h4 {
    place-self: start;
}

.pie-state>.pie {
    grid-area: 2/1;
    min-width: 150px;
    min-height: 150px;
    border-radius: 50%;
    mask: radial-gradient(circle, transparent 40%, black 41%);
    -webkit-mask: radial-gradient(circle, transparent 40%, black 41%);
    box-shadow: 3px 3px 3px 1px #ffffff4a inset, -3px -3px 3px 1px #00000052 inset;
}

.pie-state>.legend {
    grid-area: 2/2;
}

.loc-stats ul {
    list-style-type: none;
    display: inline-block;
    text-transform: capitalize;
    font-size: clamp(1em, 2vw, 1.5em);
}

.loc-stats .pie-label {
    display: inline-block;
    background-color: black;
    width: 1em;
    height: 1em;
    margin-inline-end: 0.3em;
}


.main-range-filter {
    display: flex;
    gap: 10px;
    width: 100%;
}

.range-label {
    white-space: nowrap;
}

.filter-rate-range {
    width: 100%;
}

.main-sort-by {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
}

.loc-pagination {
    display: flex;
    justify-self: center;
    align-items: center;
}

.loc-pagination>button,
.loc-pagination>.pages-btns>button {
    font-size: clamp(1em, 1.5vw, 1.5em);
}

.loc-pagination>.pages-btns>button.active {
    border: 2px solid var(--bg3);
    color: var(--color2);
}